.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.history-container{
    margin-top: 50px;
}

.history-container .phar.history{
    line-height: 35px;
}

div.list-group{
    z-index: -1;
}

div.list-group a.list-group-item{
    max-height: 120px;
    display: block;
    overflow: hidden;
}

div.list-group a.list-group-item p{
    line-height: 27px;
}

.index-footer{
    margin-top: 100px;
    background: #002867;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.index-footer h2{
    font-weight: 700;
}

.index-footer div.about p{
    margin-top: 20px;
}

.index-footer div.contact{
    margin-top: 40px;
}

.index-footer div.contact a{
    font-size: 50px;
    margin: 0 10px;
    color: white;
}

.index-footer div.contact a:hover{
    color: #0685CD;
}

.index-footer div.contact p{
    margin-top: 20px;
}

@media (min-width: 992px) {
    .history p{
        margin-left: 200px;
        margin-right: 200px;
    }

    .index-footer{
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .index-footer div.contact{
        margin-top: 0px;
        padding-left: 100px;
    }
}